.card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height : 80vh;
}


a.nav-link{
    font-size: small;
    font-weight: bold;
    padding-left : 0px;
    
}

li.nav-item:hover{
    border-bottom: 1px solid lightblue;
    cursor: pointer;
}

.btn{
    border-radius: 50%;
}

.btn.next{
    float: right;
}