<div class="login-container">

    <div class="container-header">
        <h2 class="header-content"> Forget Password </h2>
    </div>
    <hr>
    <div class="container-body">
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="updatePassword()">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="email-label">Email</span>
                </div>
                <input class="form-control " type="email" formControlName="email" 
                placeholder="abc@xyz.com" aria-label="Recipient's " aria-describedby="email-label">
                
            </div>
            
            <button [disabled]="loading" class="btn btn-primary" type="submit" >
                Update Password
                <span>
                    <div class="spinner-grow text-primary" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </span>
            </button>        
        </form>
    </div>
    <div class="contain-footer">
        <div><a routerLink="/login">Login</a></div>
    </div>
    
    </div>