<div *ngIf="currentUser; else notLoggedIn">
    <user *ngIf="!logginOut" (logoutEmitter)="logout()"></user>
    <div *ngIf="logginOut"  class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<ng-template #notLoggedIn>
    <div class="row">
        <div class="col-6">
            this is a separate sections
        </div>
        <div class="col-6">
            <div class="card router-oulet">
                <div class="card-body">
                    <router-outlet></router-outlet>                    
                </div>

            </div>
        </div>
    </div>
    
</ng-template>