
.card{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.welcome-message{
    color: darkgreen;
    font-size: large;
    font-weight: bold;
    display : block;
}

.welcome-section{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    /**background: tomato**/;
    width: 50vw; height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height : 400px;
    width  : 400px
}


    