.card{
    height : 200px;
    width : 250px;
    margin-top: 10px;
}
.card-body{
    height : 150px
}

.card-footer{
    height : 30px;
    padding : 2px;
    opacity : 0.7
    
}

.card-footer:hover{
    opacity: 1;
}

img{
    width : 70px;
    height : 70px;
    border-radius: 50%;
    font-size: small;
}

.desc{
    font-size: small;
    color : gray
}

.col-4, .col-6{
    padding : 0px;
    margin-left : 5px;
    margin-right : 5px
}


h6{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top : 5px
}

.connection-name{
    cursor: pointer;
}